/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.basic-container {
  padding: 30px;
}

.container {
  padding-top: 10px;
  max-width: 450px;
}

.wholeBox {
  max-width: 500px;
}