<div class="container">
    <h1>Fit Fixer</h1>
  <form [formGroup]='statusFormGroup' #statusNgForm="ngForm" (submit)='handleSubmit($event, statusNgForm, statusFormGroup)'>
    <div class="form-group">
        <label for="file">Choose .FIT File</label>
            <input #myInput type="file"
                   id="file"
                   (change)="handleFileInput($event.target.files)" required >
    </div>

    <button type='submit' class='btn btn-default' [disabled]='checkInvalidity()'>Submit</button>
    <button type='button' class='btn btn-default' (click)='resetAllInputs(statusNgForm)'>Reset</button>
    <button type='button' class='btn btn-default' [disabled]='!uploadComplete' (click)='handleDownload()'>Download</button>

  </form>



</div>