<h1>Fit Fixer</h1>
<mat-tab-group [selectedIndex]="currentTab">
    <mat-tab label="One">
<div class="container">
  <form [formGroup]='statusFormGroup' #statusNgForm="ngForm" (submit)='handleSubmit($event, statusNgForm, statusFormGroup)'>
    <div class="form-group">
        <label for="file">Choose .FIT File</label>
            <input #myInput type="file"
                   id="file"
                   (change)="handleFileInput($event.target.files)" required >
    </div>

    <button type='submit' class='btn btn-default' [disabled]='checkInvalidity()'>Submit</button>
    <button type='button' class='btn btn-default' (click)='resetAllInputs(statusNgForm)'>Reset</button>


  </form>



</div>
</mat-tab>
<mat-tab label="Two">
    <div class="container">
    <button type='button' class='btn btn-default' [disabled]='!uploadComplete' (click)='handleDownload()'>Download</button>
</div>
</mat-tab>
</mat-tab-group>