<div class="container">
    <h1>Activity Form</h1>
    <form (ngSubmit)="onSubmit()" #activityForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title">
      </div>

      <div class="form-group">
        <label for="activityType">Activity Type</label>
        <select class="form-control" id="activityType" required [(ngModel)]="model.activityType" name="activityType">
          <option *ngFor="let aType of activityTypes" [value]="aType">{{aType}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!activityForm.form.valid">Submit</button>
      TODO: remove this: {{model.title}}
    </form>


  <form [formGroup]='statusFormGroup' #statusNgForm='ngForm' (submit)='handleSubmit($event, statusNgForm, statusFormGroup)'>

  </form>






</div>